* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F2EF;
    font-family: 'Inria Sans', sans-serif;
}


.navbarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.container {
    max-width: 1140px;

    padding-right: 15px;
    padding-left: 15px;

    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solution-map {

}

.solution-map-container {
    display: flex;
}

.solution-map-navigator {
    margin-left: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

.row p {
    margin: 0;
    cursor: pointer;
}

.idea-circle {
    fill: #C4C4C4;
    transition: fill .3s ease;
    cursor: pointer;
}

.idea-circle:hover,
.idea-circle:focus {
    fill: black !important;
}

.idea-detail-container {
    visibility: hidden;
    position: absolute;
    background-color: white;
    max-width: 280px;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;

}

.idea-detail-container.shown {
    opacity: 1;
    visibility: visible;
}

.idea-detail-container img {
    width: 50px;
    height: auto;
}

svg {
    border: 1px solid darkgreen;
    border-radius: .25rem;
    width: 500px;
    cursor: move;
    touch-action: none;
}

/* Toolbox */
.toolbox {
    margin-left: 1rem;
    min-width: 350px;
    background-color: lightgray;
    border-radius: .25rem;
}

.toolbox-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.toolbox-header-item {
    padding: 1rem;
    flex-grow: 1;

}

.toolbox-header-item.active {
    background-color: gray;
}

.toolbox-body {
    padding: 1rem;
}

.config-row {
    margin-top: 0.4rem;
}
